.pelota
    width: 100px
    height 100px
    border-radius: 50%
    background-color: red
    color red
    transition-property: width, height 
    transition-duration: 1s
    transition-timing-function: ease
    display: flex
    justify-content: center
    align-items: center

    &:hover
        font-size: 40px
        color:white
        background-color: #fc6262
        width: 200px
        height: 200px