body
    background whitesmoke
    font-family 'Lato', sans-serif
nav
    background-color: lightgrey
    border-radius:10px 
    display: flex
    justify-content: center
    align-items: center
h1
    display: block
    color navy
h2
    color black

@import 'ball.styl'
@import 'hello.styl'
@import 'transform.styl'
@import 'rotate.styl'
@import 'traslacion.styl'



