body
    background whitesmoke
    font-family 'Lato', sans-serif
    max-width :800px
    margin: 0 auto
nav
    background-color: lightgrey
    border-radius:10px 
    display: flex
    justify-content: center
    align-items: center
h1
    display: block
    color navy
h2
    color black

.container
    padding: 10px

@import 'ball.styl'
@import 'hello.styl'
@import 'transform.styl'
@import 'rotate.styl'
@import 'translate.styl'
@import 'scale.styl'
@import 'skew.styl'
@import 'animation.styl'
@import 'bezier.styl'



