.container
    h2 Animaciones CSS
    hr
    .animation
        .cuadro-aa
        .cuadro-aa
        .cuadro-aa
        .cuadro-aa
        | Police
        .cuadro-ab
        .cuadro-ab
        .cuadro-ab
        .cuadro-ab