.container
    h3 Aceleración y curva de bezier
    h4 ease
    .bezier
        .ball
    h4 ease-in
    .bezier
        .ball-a
    h4 ease-out
    .bezier
        .ball-b
    h4 ease-in-out
    .bezier
        .ball-c
    h4 linear
    .bezier
        .ball-d
    h4 Personalizada 
        a(href="https://cubic-bezier.com/#0,1,1,0") cubic-bezier: (0,1,1,0)
        .bezier
            .ball-e
