-var page="Animaciones WEB"

doctype html
html    
    include head.pug
    body
        include intro.pug
        include ball.pug
        include hello.pug
        include transform.pug
        include rotate.pug
        include translate.pug
        include scale.pug
        include skew.pug
        include animation.pug
        include bezier.pug