.container
    h3 Transformaciones de rotación
    .rotate
        .cuadro.a rotate
        .cuadro.b rotate x
        .cuadro.c rotate y
        .cuadro.d rotate z
    .rotate    
        .cuadro.e rotate xy
        .cuadro.f rotate xz
        .cuadro.g rotate yz
        .cuadro.h rotate xyz