.container
    h3 Transformaciones de sesgados
    .skew
        a(href="https://github.com/walterxz?tab=repositories") By:
        .cuadro-sk.a-sk skew +
        .cuadro-sk.b-sk skew -
        .cuadro-sk.a-sk skew +
        .cuadro-sk.b-sk skew -
        a(href="https://github.com/walterxz?tab=repositories") alterXZ
