.container
    h3 Transformaciones de traslacion y perspectiva
    .translate
        .cuadro-x.a-x translateX +
        .cuadro-x.b-x translateY +
        .cuadro-x.c-x translateX -
        .cuadro-x.d-x translateY -
    .translate
        .cuadro-x.e-x translateZ +
        .cuadro-x.f-x translateZ -
