.container
    h2 Traslacion y perspectiva
    .translate
        .cuadro-x.a-x translateX
        .cuadro-x.b-x translateY
        .cuadro-x.c-x translateX -
        .cuadro-x.d-x translateY -
    .translate
        .cuadro-x.e-x translateX
        .cuadro-x.f-x translateY
